WPFClient/Service References/ServiceReferenceWPF/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://venuscloud.com/StockTrading" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://venuscloud.com/StockTrading" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://venuscloud.com/StockTrading/Imports">
      <xsd:import schemaLocation="http://4c6fff6548dc4e249ce4671122dafd33.cloudapp.net/Service.svc?xsd=xsd0" namespace="http://venuscloud.com/StockTrading" />
      <xsd:import schemaLocation="http://4c6fff6548dc4e249ce4671122dafd33.cloudapp.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://4c6fff6548dc4e249ce4671122dafd33.cloudapp.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRoleStockTrading" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PriceChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PriceChange" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://venuscloud.com/StockTrading/IService/Subscribe" message="tns:IService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://venuscloud.com/StockTrading/IService/SubscribeResponse" message="tns:IService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://venuscloud.com/StockTrading/IService/Unsubscribe" message="tns:IService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://venuscloud.com/StockTrading/IService/UnsubscribeResponse" message="tns:IService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PriceChange">
      <wsdl:output wsaw:Action="http://venuscloud.com/StockTrading/IService/PriceChange" message="tns:IService_PriceChange_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>